<div class="dash-home">
  <!-- Main Content -->
  <div class="dash-home__content">
    <!-- Header -->
    <app-inicio-header 
      [data]="headerData"
      (notificationClick)="onNotificationClick()"
      (publicProfileClick)="onPublicProfileClick()">
    </app-inicio-header>

   
<div class="container-pro">

    <div class="container-pro-1">
        <!-- Dashboard Components -->
        <app-inicio-solicitudes 
        [data]="solicitudesData"
        (acceptClick)="onAcceptClick($event)"
        (declineClick)="onDeclineClick($event)"
        (reservaAccepted)="onReservaAccepted($event)"
        (reservaRejected)="onReservaRejected($event)">
       </app-inicio-solicitudes>
       
       
       
       <app-inicio-proxima-cita 
        [data]="proximaCitaData"
        (viewDetailsClick)="onViewDetailsClick($event)"
        (citaAction)="onCitaAction($event)"
        (citaCancel)="onCitaCancel($event)">
       </app-inicio-proxima-cita>
       
       <app-inicio-gestion-disponibilidad 
        [data]="gestionData"
        (addTimeBlock)="onAddTimeBlock($event)"
        (removeTimeBlock)="onRemoveTimeBlock($event)">
       </app-inicio-gestion-disponibilidad>
           </div>
            <div class="ingresos-container">
                <app-inicio-ingresos-mes 
                [data]="ingresosData"
                (viewReportClick)="onViewReportClick($event)"
                (navigateToReport)="onNavigateToReport($event)">
              </app-inicio-ingresos-mes>
              
              <app-inicio-ingresos-dia 
                [data]="ingresosDiaData"
                (viewReportClick)="onViewDayReportClick($event)"
                (navigateToReport)="onNavigateToReport($event)">
              </app-inicio-ingresos-dia>
            </div>
</div>


  </div>
</div>
