.dash-home {
  background-color: #f8fafc;
  min-height: 100vh;

  &__content {
    padding: 2rem;
    overflow-y: auto;
  }

}

// Responsive adjustments
@media (max-width: 768px) {
  .dash-home {
    &__content {
      padding: 1rem;
    }
  }
}
